<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom color="danger">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inbox</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
      <ion-searchbar color="primary" (ionInput)="searchInbox($event)" placeholder="Search Inbox">
      </ion-searchbar>
    </ion-toolbar>


</ion-header>


<ion-content>
  <ion-card *ngIf="isEmpty">
    <ion-card-header>Your Inbox is Empty!</ion-card-header>

    <ion-card-content>
      <p>There will be items on this page once people contact you!</p>
    </ion-card-content>

  </ion-card>

  <ion-list>
      <ion-item-sliding *ngFor="let chat of inboxChats" #slidingItem>

        <button ion-item (click)="goToChat(chat.chatId)">
          <h3>{{chat.normalUserName}}</h3>
          <p>
            {{chat.message}}
          </p>
          <p style="float: right;">{{chat.updated_at | date: 'medium' }}</p>
        </button>

      </ion-item-sliding>

  </ion-list>



</ion-content>
